.freebtn{
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  font-size: 14px;
  font-weight:600;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: rgb(100,100,100);
  border: 3px solid rgb(100,100,100);
  color: rgb(255,255,255);
}
.freebtn-small{
  padding: 6px 12px;
}
.freebtn-default{
  background-color: rgb(100,100,100);
  color: rgb(255,255,255);
  border: 3px solid rgb(100,100,100);
}
.freebtn-primary{
  background-color: rgb(255,255,255);
  color: rgb(100,100,100);
  border: 3px solid rgb(100,100,100);
}
